<mat-card id="main-card">
  <form #form='ngForm'>
    <h3>Add a Link</h3>
    <div class="fields">
      <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input matInput name="title" id="title" placeholder="Title of the post..." ngModel #title='ngModel' required>
        <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="link">Link</mat-label>
        <input matInput name="link" id="link" placeholder="Add the link" ngModel #link='ngModel' required>
        <mat-error *ngIf="link.invalid">Link is requried</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onAddLink(form)">Add Link</button>
    </div>
  </form>
  <mat-divider [inset]='true'></mat-divider>

  <app-article [article]='article' *ngFor="let article of articles"></app-article>
</mat-card>
